*{
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 4.5em;
  margin: 1rem;
  line-height: 1.1;
  color: white;
  font-family: montserrat-alternates, sans-serif;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  line-height: 1.1;
  margin: 1rem;
  color: white;
  font-family: montserrat-alternates, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-size: 2em;
  line-height: 1.1;
  margin: 1rem;
  color: white;
  font-family: montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
}

p {
  margin: 0;
}

.background-overlay{
  height: 6700px;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to bottom,  #010110 0%,#130847 44%,#190d59 70%,#201365 80%,#321a80 90%,#452199 92%,#5624a1 93%);
  justify-content: center;
}

header {
  width: 100vw;
  padding: 1.5rem 3rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  padding: 10px 0 0 0;
  font-family: megascope-variable, sans-serif;
  font-weight: 500;
  font-variation-settings: "SCOP" 20;
  font-size: 60px;
  letter-spacing: 1px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5rem; 
}

.nav-item {
  padding: 20px 0;
  font-family: baskerville, sans-serif;
  font-size: 1rem;
  position: relative;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 0%;
  height: 1px;
  background-color: white;
  transition: width .2s ease-out;
}

.nav-item:hover::after {
  width: 100%;
}

.section-intro {
  padding: 1rem 1rem;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.profile-container {
  height: 450px;
  width: 300px;
  border-radius: 20px;
  border-top-left-radius: 20px;
  margin: 20px;
  overflow: hidden;
}

.profile-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 30px;
  transform: scale(2.8) translateX(13px) translateY(-40px);
}

.contacts-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.contact-button {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 25px;
  background-color: transparent;
  margin: 0 10px;
  transition: transform .2s ease-out;
}

.contact-button:hover {
  transform: scale(1.1);
}

.brand-logo {
  height: 70%;
  width: 70%;
}

.star-section {
  position: relative;
  height: 2000px;
  width: 100vw;
}

.star-size-1 {
  height: 1px;
  width: 1px;
  border-radius: 1px;
  background-color: white;
}

.star-size-2 {
  height: 2px;
  width: 2px;
  border-radius: 2px;
  background-color: white;
}

.star-size-3 {
  height: 3px;
  width: 3px;
  border-radius: 3px;
  background-color: white;
}

/*PROJECT SECTION*/

.section-projects {
  width: 100vw;
  margin: 200px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.project-container {
  height: 400px;
  width: 80%;
  padding: 2rem 1.5rem;
  border-radius: 30px;
  margin: 100px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.project-image-container {
  height: 100%;
  width: 600px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.198);

}

.project-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .2s ease-out
}

.project-image:hover {
  transform: scale(1.05);
}

.project-details {
  height: 85%;
  flex: 1;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  color: black;
  margin: 30px 5px 40px 5px;

}

.project-description {
  margin: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.504);
  max-width: 300px;
  font-family: montserrat, sans-serif;
}

.project-github-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  margin: 10px 0 0 0;
  background-color: transparent;
}

.project-github-button:hover {
  background-color: rgba(128, 128, 128, 0.145);
}

.section-animations {
  width: 100vw;
  margin: 200px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.animations-container {
  height: 400px;
  width: 90%;
  padding: 2rem 1.5rem;
  border-radius: 30px;
  margin: 100px 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.animation {
  border-radius: 5px;
  flex: 1;
}

.video {
  height: 337.5px; 
  border-radius: 10px;
}

.city-image {
  position: absolute;
  bottom: 0px;
  width: 100%;

}